/* SIM BUTTON */
.sim-btn {
    margin-bottom: 10px;
    padding: 8px;
    background: #00ffaa;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* ALERT BOX */
.alert {
    margin-top: 10px;
    padding: 10px;
    background: red;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    animation: blink 1s infinite;
}

.hidden {
    display: none;
}

/* BLINK ANIMATION */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}

/* LINE CHART */
#lineChart {
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    padding: 10px;
}
